<div class="flex flex-auto">
    <div class="p-8">
        <img src="src/images/author.png">
    </div>
    <div class="basis-1/4 pt-20 font-mono">
        <div class="font-bold pb-4 text-3xl">bitsnacker</div>
        <div class="font-medium mb-4">Platform Engineering at Quizizz</div>
        <div class="font-medium mb-4">
            I am a startup and technology enthusiast. I love building products and systems for scale.
        </div>
        <div>
            You can reach me on <a class="underline" href="https://www.linkedin.com/in/santhosh-r3/" target="_blank">LinkedIn</a>.
        </div>
    </div>
</div>